.card {
  margin-right: 2.5rem;
  @media screen and (max-width: 800px) {
    margin-right: 0%;
  }

  &__shape {
    background-color: yellowgreen;
    display: flex;
    position: relative;
    margin-bottom: 1.5rem;
    width: 23.8rem;

    @media screen and (max-width: 590px) {
      width: 100%;
      //   justify-content: center;
    }
  }

  &__image {
    width: 100%;
    // margin-right: 4rem;
  }

  &__caption {
    // background-color: blueviolet;
    display: flex;
    font-size: 1.2rem;
    font-family: "PT Serif";
    font-weight: 400;

    position: absolute;
    top: 0;
    right: -10.5rem;
    // margin-left: 30px;

    transform: rotate(90deg);
    transform-origin: (0 0);
  }

  &__name {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.8rem;
  }
}
